@import 'variables';
@import 'mixins';

body {
  font-family: $body-font;
  background-color: $body-bg;

  cursor: crosshair;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .page-heading {
    font-size: 4.20rem;
    font-weight: bold;
    color: $title-fg;
    text-shadow: 1px 1px 1px $shadow-bg;
    margin: 1% 0;
  }
}

.nav-bar {
  @include borderStyle;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 15%;

  nav {
    font-weight: bold;
    font-size: 1.11rem;
    color: $title-fg;
    padding: 1% 3%;
    text-shadow: .5px .5px .5px $shadow-bg;
  }
}

.recent-polls, .questionContainer {
  @include questionContainer;
}

.sub-heading, .question-title {
    @include containerTitle;
}

.recent-list, .question-option-list {
    @include containerList;
}

.recent-question, .question-option {
    @include containerListItem;
}
