$primary: #e595e5;
$secondary: #c656b8;

$body-bg: #d5d5d5;
$body-fg: #1dab38;
$body-font: Roboto;

$title-fg: #f7f7f7;
$shadow-bg: #af2b5e;

$header-one-fg: #580;
$header-five-fg: #db5555;

$list-item: $primary;

* {
  border-radius: 5px;
}

body {
  font-family: $body-font;
  background-color: $body-bg;
  color: $body-fg;

  cursor: crosshair;

  h1 {
    color: $header-one-fg;
  }

  h5 {
    color: $header-five-fg;
  }

  li {
    color: $list-item;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .page-heading {
    font-size: 4.20rem;
    font-weight: bold;
    color: $title-fg;
    text-shadow: 1px 1px 1px $shadow-bg;
    margin: 1% 0;
  }
}

.nav-bar {
  background-color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 15%;
  border: 2px solid $title-fg;
  box-shadow: 1px 1px 1px $shadow-bg;

  nav {
    font-weight: bold;
    font-size: 1.11rem;
    color: $title-fg;
    padding: 1% 3%;
    text-shadow: .5px .5px .5px $shadow-bg;
  }
}

.recent-polls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  border: 2px solid $title-fg;
  box-shadow: 1px 1px 1px $shadow-bg;
  margin: 0 15%;

  .sub-heading {
    font-size: 1.88rem;
    color: $title-fg;
    margin: 0;
    margin-top: .5%;
  }
  .recent-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 75%;
    padding: .5% 1.5%;
  }

  .recent-question {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: $primary;
    color: $secondary;
    border: 2px solid $title-fg;
    box-shadow: 1px 1px 1px $shadow-bg;
    padding: 1% 2%;
  }
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  border: 2px solid $title-fg;
  box-shadow: 1px 1px 1px $shadow-bg;
  margin: 0 15%;

  .question-title {
    font-size: 1.88rem;
    color: $title-fg;
    margin: 0;
    margin-top: .5%;
  }
  .question-option-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 75%;
    padding: .5% 1.5%;
  }

  .question-option {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: $primary;
    color: $secondary;
    border: 2px solid $title-fg;
    box-shadow: 1px 1px 1px $shadow-bg;
    padding: 1% 2%;
  }
}
